<div class="container">
  <table class="table table-hover table-sm table-striped table-responsive-sm">
    <caption>
      List of transaction
    </caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Account</th>
        <th scope="col">Payee</th>
        <th scope="col">Category</th>
        <th scope="col">Payment</th>
        <th scope="col">Deposit</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let firstTransaction of allTransaction; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ firstTransaction.date }}</td>
        <td>Main</td>
        <td>{{ firstTransaction.payee.name }}</td>
        <td>{{ firstTransaction.category.name }}</td>
        <td>{{ firstTransaction.amount }}</td>
        <td></td>
        <td>{{ firstTransaction.main_account.account_balance }}</td>
      </tr>
    </tbody>
  </table>
</div>
