<p>
  account-details works!
</p>
<div class='container'>
<table class="table table-hover table-sm table-striped table-responsive-sm">
    <caption>List of transaction</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Account</th>
      <th scope="col">Payee</th>
      <th scope="col">Category</th>
      <th scope="col">Payment</th>
      <th scope="col">Deposit</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>2019-04-12</td>
      <td>Main</td>
      <td>Żabka</td>
      <td>Jedzenie</td>
      <td>20.00</td>
      <td></td>
      <td>253</td>
    </tr>
  </tbody>
</table>
</div>