<div style="text-align:center">
  <h1>
    {{ title | uppercase }}
  </h1>
</div>
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-info">
  <div class="container" id="nav_center">
    <a class="navbar-brand" [routerLink]="''">Home Budget</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-right">
        <a routerLink="" class="nav-item nav-link active"
          >Home <span class="sr-only">(current)</span></a
        >
        <a routerLink="account" class="nav-item nav-link" href="#">Add bills</a>
        <a class="nav-item nav-link" href="#">Reports</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div><br /></div>
<footer class="footer fixed-bottom bg-light py-1">
  <div class="container">
    <span class="text-muted">Przemysław Kulak ©2019</span>
  </div>
</footer>
